
<%= simple_form_for [@post, @comment], :html => { :class => 'form-inline' } do |f| %>
  <div class="form-group">
    <%= f.error_notification %>

    <label class="control-label">Comment!</label>

    <div class="form-inputs">
      <%= f.text_field :body, :class => 'form-control input' %>
      <%= f.submit 'Add Comment', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
