
<%= simple_form_for [@post, @comment], :html => { :class => 'form-inline' } do |f| %>
  <div class="form-group">
    <%= f.error_notification %>

    <div class="input-group">
      <%= f.text_field :body, :class => 'form-control input input-lg' %>
      <span class="input-group-btn">
        <%= f.submit 'Add Comment', :class => 'btn btn-primary btn-lg' %>
      </span>
    </div>
  </div>

<% end %>
