<div class="container">
  <div class="row">
    <% if current_user %>
      <h1 class="text-center">HI!, <%= @user.email %>!</h1>
    <% else %>
      <h1 class="text-center">Hey there! Make an account NOW!</h1>
    <% end %>
    <%= render 'posts/new_entry' %>
    <%#= render 'posts/index' %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th colspan="3">Check out all these awesome posts!</th>
      </tr>
    </thead>
    <tbody>
      <% @last_five_posts.each do |p| %>
        <tr>
          <% title =  p.entry %>
          <td>Post title: <%= link_to title, post_path(p) %> </td>
          <td>By user:<%#= p.username %></td>
          <td>Post comments:<%= p.comments %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
