<div class="container">
  <div class="row">
    <% if current_user %>
      <h1 class="text-center">HI!, <%= @user.email %>!</h1>
    <% else %>
      <h1 class="text-center">Hey there! Make an account NOW!</h1>
    <% end %>
    <%= render 'posts/new_entry' %>
    <%#= render 'posts/index' %>
  </div>
</div>
