<div class="container">

  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <% title = post.entry %>
        <% user = post.user %>
        <% username = user.username %>

        <div class="well">
          <h3 style="display: inline"><%= link_to title, post_path(post) %></h3>

          <p style="display: inline">by: <%= username %></p>

          <br>
          <br>

          <% first_comment = post.comments.first %>
          <p style="display: inline">First Comment:</p>

          <p style="display: inline"><%= first_comment.body %></p>

          <br>
          <br>

          <p>Comment!</p>
          <!-- TODO add ability to add your own comment to current post-->


        </div>
      <% end %>

    </div>
  </div>

</div>
