<p id="notice"><%= notice %></p>

<p>
<h3>Post Title:</h3>
<%= @post.entry %>
</p>
<% if @post.user == current_user %>
  <small>sorry, once a post is made, you're stuck with it! <br>
    If you don't like it, you can either delete it or make another one!</small>
<% end %>

<p>
  <h3>Current Comments:</h3>
  <% if @post.comments %>
    <% @comments.each do |c| %>
      <p><%= c.body %></p>
    <% end %>
  <% else %>
    <p>This post doesn't have any comments yet!</p>
  <% end %>
</p>

<h3>Add a comment</h3>

<%= render 'shared/new_comment' %>
